# Ignore node modules and common system files
node_modules/
.vscode/
.DS_Store
Thumbs.db
*.log
.env
dist/
build/
.idea/

# Ignore OS-specific metadata
desktop.ini

# Ignore npm debug files
npm-debug.log*

# Ignore Mac icon
Icon\r
